# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*   List popular languages and libraries for Data Science;
*   Show popular development environment open source tools for Data Science;
*   Basic math expressions using Python.

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL
4.   Julia

Some of the commonly used libraries used by Data Scientists include:
1.   Pandas
2.   Seaborn
3.   Matplotlib

| Data Science Tools |
|-|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nicholas Kim